.btn {
  background-color: var(--c-background-panel);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: var(--c-black);
  padding: 10px;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: color 150ms ease-in-out,
    transform 250ms ease-in-out,
    background-color 150ms ease-in-out,
    background-position 250ms ease-out,
    box-shadow 250ms ease-in-out;
}

.btn:hover,
.btn:focus,
.btn--checked {
  background-color: var(--c-primary);
  color: var(--c-select-alt);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.btn--cta {
  background-image: 
    linear-gradient(-45deg, 
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0) 40%,
    rgba(255,255,255,.3) 41%,
    rgba(255,255,255,.1) 59%,
    rgba(255,255,255,0) 60%,
    rgba(255,255,255,0) 100%);
  background-color: var(--c-primary);
  background-size: 200%;
  background-position: 150%;
  color: var(--c-select-alt);
  text-transform: uppercase;
}

.btn--cta:hover {
  background-position: -10%;
}

.btn:disabled,
.btn:hover:disabled,
.btn:focus:disabled,
.btn--disabled,
.btn--disabled:hover,
.btn--disabled:focus,
.disabled,
.disabled:hover,
.disabled:focus {
  background-color: var(--c-grey-subtle);
  color: var(--c-grey);
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
